@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.backdrop {
  @apply bg-neutral-900/30 backdrop-blur-sm;
}

.handle {
  @apply cursor-pointer bg-gradient-to-r hover:from-white/0 hover:to-white/20;
  &.active {
    @apply from-white/0 to-white/20;
  }
}

.icon {
  @apply bg-red-500 w-4 h-4;
}

.slide-right-enter-active,
.slide-left-enter-active,
.slide-top-enter-active {
  transition: all theme('transitionDuration.200') ease-out;
}

.slide-right-leave-active,
.slide-left-leave-active,
.slide-top-leave-active {
  transition: all theme('transitionDuration.200') ease-in;
}

.slide-right-enter-from,
.slide-right-leave-to {
  transform: translateX(40px);
  opacity: 0;
}

.slide-left-enter-from,
.slide-left-leave-to {
  transform: translateX(-40px);
  opacity: 0;
}

.slide-top-enter-from,
.slide-top-leave-to {
  transform: translateY(-40px);
  opacity: 0;
}
